services:
  frontend:
    platform: linux/amd64
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: frontend
    container_name: frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - ft_transcendence
    expose:
      - "5173"

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    image: nginx
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - frontend
    networks:
      - ft_transcendence

networks:
  ft_transcendence:
    driver: bridge