services:
  frontend:
    platform: linux/amd64
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: frontend
    container_name: frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - auth-service
      # - profile-service
    networks:
      - ft_transcendence
    expose:
      - "5173"
  
  auth-service:
    build:
      context: ./backend/auth-service
      dockerfile: Dockerfile
    image: auth-service
    container_name: auth-service
    env_file:
      - ./backend/auth-service/.env
    volumes:
      - ./backend/auth-service:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    networks:
      - ft_transcendence
    
  #chat service
  chat:
    build: ./backend/chat-service
    container_name: chat-service
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - API_URL=http://backend-api:3000
    ports:
      - "4000:4000"
    networks:
      - ft_transcendence
    restart: always

  # profile-service:
  #   build:
  #     context: ./backend/profile-service
  #     dockerfile: Dockerfile
  #   image: profile-service
  #   container_name: profile-service
  #   env_file:
  #     - ./backend/profile-service/.env
  #   volumes:
  #     - ./backend/profile-service:/app
  #     - /app/node_modules
  #   ports:
  #     - "3001:3001"
  #   networks:
  #     - ft_transcendence

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    image: nginx
    container_name: nginx
    ports:
      - "8443:443"
    depends_on:
      - frontend
      - auth-service
      # - profile-service
    networks:
      - ft_transcendence


networks:
  ft_transcendence:
    driver: bridge