services:
  frontend:
    platform: linux/amd64
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: frontend
    container_name: frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - auth-service
      - profile-service
      - relationship-service
      - game-service
      - chat-service
    networks:
      - ft_transcendence
    ports:
      - "5173:5173"
  
  auth-service:
    platform: linux/amd64
    build:
      context: ./backend/auth-service
      dockerfile: Dockerfile
    image: auth-service
    container_name: auth-service
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/auth-service:/app
      - /app/node_modules
      - uploads:/app/uploads
    ports:
      - "3000:3000"
    networks:
      - ft_transcendence

  chat-service:
    build: ./backend/chat-service
    container_name: chat-service
    env_file:
      - ./backend/.env
    environment:
      - API_URL=http://auth-service:3000
    volumes:
      - ./backend/chat-service/chat.sqlite:/app/chat.sqlite
    ports:
      - "4000:4000"
    networks:
      - ft_transcendence
    restart: always


  notification-service:
    platform: linux/amd64
    build: 
      context: ./backend/notification-service
      dockerfile: Dockerfile
    image: notification-service
    container_name: notification-service
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/notification-service:/app
      - /app/node_modules
    ports:
      - "3005:3005"
    networks:
      - ft_transcendence
    restart: always

  profile-service:
    platform: linux/amd64
    build:
      context: ./backend/profile-service
      dockerfile: Dockerfile
    image: profile-service
    container_name: profile-service
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/profile-service:/app
      - /app/node_modules
    ports:
      - "3001:3001"
    networks:
      - ft_transcendence

  game-service:
    platform: linux/amd64
    build:
      context: ./backend/game-service
      dockerfile: Dockerfile
    image: game-service
    container_name: game-service
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/game-service:/app
      - /app/node_modules
    ports:
      - "3003:3003"
    networks:
      - ft_transcendence

  tournament-service:
    platform: linux/amd64
    build:
      context: ./backend/tournament-service
      dockerfile: Dockerfile
    image: tournament-service
    container_name: tournament-service
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/tournament-service:/app
      - /app/node_modules
    ports:
      - "3004:3004"
    networks:
      - ft_transcendence

  relationship-service:
    platform: linux/amd64
    build:
      context: ./backend/relationship-service
      dockerfile: Dockerfile
    image: relationship-service
    container_name: relationship-service
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/relationship-service:/app
      - /app/node_modules
    ports:
      - "3002:3002"
    networks:
      - ft_transcendence

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    image: nginx
    container_name: nginx
    ports:
      - "8443:443"
    depends_on:
      - frontend
      - auth-service
      - profile-service
      - relationship-service
      - game-service
      - tournament-service
    volumes:
      - uploads:/app/uploads
      # - profile-service
    networks:
      - ft_transcendence

volumes:
  uploads:

networks:
  ft_transcendence:
    driver: bridge