@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  cursor: none;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}


.star {
  border-radius: 50%;
  background: white;
  position: absolute;
  box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.8);
  z-index: 1;
  width: 5px;
  height: 5px;
}
#stars {
  position: absolute;
  inset: 0;
  background-color: black;
  z-index: 0;
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none; /* Firefox */
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: scroll; /* Prevent layout shift */
}

@keyframes fade-in-down {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in-down {
  animation: fade-in-down 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
